.list {
  display: flex;
  list-style: none;
}

.item {
  color: inherit;
  font-size: 20px;
}

.item:not(:last-child) {
  margin-right: 32px;
}

.item a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 840px) {
  .list {
    display: none;
  }
}
