.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 692px;
}

.title {
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;
}

.title span {
  color: var(--blue);
}

.subtitle {
  margin: 32px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 950px) {
  .description {
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .title {
    font-size: 46px;
    line-height: 51px;
    letter-spacing: -1.4px;
  }

  .subtitle {
    margin: 24px 0 12px;
    font-size: 18px;
    line-height: 22px;
  }
}
