:root {
  --white: rgba(255, 255, 255, 1);
  --dark: rgba(13, 13, 18, 1);
  --blue: rgba(65, 164, 223, 1);
  --dark-blue: #232328;
  --deep-blue: rgba(41, 126, 226, 1);

  --bg-light: #f7f9fb;
  --bg-dark: #18181d;

  --dark-80: rgba(17, 17, 17, 0.8);
  --dark-40: rgba(17, 17, 17, 0.4);
  --blue-12: rgba(41, 126, 226, 0.12);
  --blue-16: rgba(65, 164, 223, 0.16);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-80: rgba(255, 255, 255, 0.8);
}
