.logo {
  width: 64px;
  height: 64px;
  margin-right: 99px;
}

@media (max-width: 840px) {
  .logo {
    margin-right: 0;
  }
}

@media (max-width: 461px) {
  .logo {
    width: 46px;
    height: 46px;
  }
}
