.librariesBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 461px) {
  .librariesBlock {
    width: 320px;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 3px;
  }
}
